<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-7mQhpDl5nRA5nY9lr8F1st2NbIly/8WqhjTp+0oFxEA/QUuvlbF6M1KXezGBh3Nb" crossorigin="anonymous">

    <title>Home</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container text-center">
      <h4>
        Rules of the game :<br> 
        - number would be btw 0 to 100 <br> 
        - the number of wrong guess would affect your score <br>  
        - you have 20 attempt to guess the answer
      </h4> 
      
      
      <form method="POST" action="/">
        <div class="mb-3"> {% csrf_token %}
          <button type="submit" class="btn btn-primary">Start</button>
        </div>
      </form>
    </div>
    
    <div class="container text-center">
      <h5>
          {{tries}}
      </h5>
    </div>
    <br>
    
    <div class="container text-center">
      <form method="POST" action="/start">
        <div class="mb-3"> {% csrf_token %}
          <h3>{{begin}}</h3>
          <h3>
            <label class="form-label">Guess the number</label>
            <input type="number" class="form-control" id="number" name="ans">
            {{message}} <br>
            {{congrats}} <br> {{tried}} <br> {{again}}

          </h3>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br>
    </div>

</body>
</html>







